<article class="post">
    <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
    </div>

    <div class="body">
        {{postText}}
    </div>

    <div class="meta">
        <strong>{{user.username}} posted this on {{formatDate created}}</strong>
    </div>
</article>