{{#if posts.length}}
    <section>
        <h2>Your Dashboard</h2>
        <ol class="post-list">
            {{#each posts as |post|}}
                <article class="post">
                    <div class="title">
                        <a class="inactiveLink" href="/post/{{id}}">{{title}}</a>
                    </div>

                    <div class="meta">
                        <strong>{{user.username}} posted this on {{format_date created_at}}</strong>
                    </div>
                
                
                <div>
                    <button type="submit"  style="margin: 15px"><a class="create-btn" href="/dashboard/edit/{{post.id}}">Edit Post</a></button>
                </div>

                </article>
            {{/each}}
        </ol>
    </section>
{{/if}}

<section>
    <div class="new-post-btn">
        <button type="submit"><a class="create-btn" href="/dashboard/new">+ New Post</a></button>
    </div>
</section>